.main {
    background-image: url('../assets/prism.png');
    background-repeat: repeat;
    width: 100%;
    height: 88%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.first-column {
    width: 65%;
    height: 95%;
    display: flex;
    flex-direction: column;
}

.second-column {
    width: 30%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;

    color: black;
    border: 3px solid #EBCA33;
    border-radius: 2rem;
    background-image: url('../assets/money.png');
}

.categories {
    height: 15%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    
}

.category-button {
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    border-width: 0 2px;
    border-radius: 0 0 0.5rem 0.5rem;

    background-color: #1D1D1D;
    color: #EBCA33;
}

.category-button svg {
    font-size: 1.5rem;
}

.category-button div {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.games {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.game-row {
    background-color: white;
    border: 2px solid white;
    border-radius: 0.5rem;

    display: grid;
    grid-template-columns: 1fr 1.4fr 0.9fr 0.7fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    padding: 0.3rem;
    margin: 0 0.3rem 1rem 0;
    grid-template-areas:
      "league teams score result-title result-title"
      ". teams score result result";
    justify-items: center;
    align-items: center;    
}

.league { 
    grid-area: league; 
}

.result-title {
    grid-area: result-title;
}

.teams {
    grid-area: teams;
}

.score {
    grid-area: score;
}

.result {
    width: 100%;
    height: 100%;
    grid-area: result;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.result div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc(90% / 3);
}

.result div button {
    width: 100%;
    background-color: #EBCA33;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.second-column h1 {
    color: #EBCA33;
    text-align: center;
}

.bets {
    align-self: center;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.bet {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0.2rem;
}

.bet div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bet div input {
    width: 20%;
    height: 80%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #EBCA33;
    margin-bottom: 5%;
}

.footer button {
    background-color: #EBCA33;
    border: 1px solid black;
    border-radius: 0.5rem;
}

@media only screen and (max-device-width: 1024px) {
    h1, h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    .main {
        flex-direction: column;
        overflow: auto;
        justify-content: center;
        align-items: center;
    }

    .categories {
        justify-content: center;
    }

    .first-column {

        width: 95%;
        height: 85%;
        overflow-y: auto;
    }

    .second-column {
        width: 95%;
        height: auto;
    }

    .games {
        width: 100%;
        justify-content: center;
        overflow: visible;
    }

    .game-row {
        font-size: 0.7rem;
    }

    .teams, .result-title {
        font-size: 0.7rem;
    }

    .footer {
        width: 100%;
    }
}

/* Scroll styles */

.games::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.games::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.games::-webkit-scrollbar-thumb {
    background-color: #EBCA33;
}

