@font-face {
  font-family: 'Futura EB';
  src: url(./assets/Futura_Extra_Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Futura Italic';
  src: url(./assets/Futura_Book_Italic.ttf) format('truetype');
}

#root {
  width: 100vw;
  height: 100vh;
}
